section
  section.sec-slide.text-left
    h3 Eu sou...
    ul
      li.fragment Desenvolvedor FullStack na RCF Inovações
      li.fragment Organizador e Idealizador do FrontInCuiabá
      li.fragment Um entusiasta da web

  section.sec-slide

    h2 Vocês podem me achar...

    .col-3.fragment
      img(src="img/social/blog.png", alt="Meu Blog")
      p about.me/gpedro
    .col-3.fragment
      img(src="img/social/twitter.png", alt="Meu Twitter")
      p @gpedro_
    .col-3.fragment
      img(src="img/social/gh.png", alt="Meu Github")
      p /gpedro
